.card {
  --bs-card-spacer-x: 0.5rem;
  --bs-card-spacer-y: 0.6rem;
  --bs-card-title-spacer-y: 0.25rem;
  --bs-card-title-color: black;
}

.image-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  color: #555;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-tags.card-body {
  padding: 14px 8px;
}

.hide-tags .image-title {
  margin-bottom: 0;
}

.hide-tags .card-text {
  display: none;
}
