.smallest-card {
  margin-bottom: 1.5em;
}

@media (min-width: 350px) and (max-width: 575px) {
  .smallest-card {
    flex: 0 0 auto;
    width: 50%;
  }
}

.end-reached {
  color: #555;
  font-size: 16px;
  margin: 8px 0;
  text-align: center;
}
