.card {
  --bs-card-spacer-x: 0.5rem;
  --bs-card-spacer-y: 0.6rem;
  --bs-card-title-spacer-y: 0.25rem;
  --bs-card-title-color: black;
}

.square-wrapper {
  aspect-ratio: 1 / 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image-element {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.image-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  color: #555;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-tags.card-body {
  padding: 14px 8px;
}

.hide-tags .image-title {
  margin-bottom: 0;
}

.hide-tags .card-text {
  display: none;
}
