.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  max-width: var(--form-max-width);
  position: relative;
}

.search-icon {
  color: #888;
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 100;
}
