.wrapper {
  max-width: var(--form-max-width);
}

.form-wrapper {
  margin: 2em 0;
}

.image-file-button {
  padding: 0;
}

.image-file-label {
  cursor: pointer;
  margin: 0 !important;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.remove-image-toggle-wrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

.remove-image-toggle {
  margin-right: 8px;
}

.bottom-button-row {
  display: flex;
  justify-content: flex-end;
}

.bottom-button {
  min-width: 100px;
}

.bottom-button-left {
  min-width: 100px;
  margin-right: auto
}

.form-toggle-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 16px 0 0 0;
}

.form-select-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
}

.form-select-wrapper label {
  margin: 0 0 0.5rem 0;
}
