.filter-selector-wrapper {
  margin: auto;
  max-width: var(--form-max-width);
  display: flex;
  justify-content: center;
}

.filter-radio-wrapper {
  margin: 12px 16px 0 16px;
}

.results-found {
  margin: 6px 0 24px 0;
  text-align: center;
  color: #555;
}