.content-wrapper {
  margin: 48px 0 24px 0;
  text-align: center;
}

.splash-logo {
  max-width: 480px;
  margin: 16px 0 28px 0;
}

@media (max-width: 575px) {
  .splash-logo {
    max-width: 400px;
  }
}

@media (max-width: 440px) {
  .splash-logo {
    max-width: 340px;
  }
}

@media (max-width: 380px) {
  .splash-logo {
    max-width: 280px;
  }
}

.images-count-wrapper {
  font-size: 18px;
}

.images-count {
  font-size: 21px;
}

.gallery-link-wrapper {
  font-size: 21px;
  font-weight: 700;
  margin: 24px 0 24px 0;
}

.contract-wrapper {
  text-align: center;
}

.contract-label {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 0;
}

.contract-address {
  font-size: 19px;
  font-weight: 400;
  word-wrap: anywhere;
  margin-bottom: 0;
}
