.main-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-image {
  margin: 1.5rem 0;
  cursor: pointer;
}

@media(max-width: 767px) {
  .small-screen-navs {
    display: flex !important;
    justify-content: space-between;
  }
}

.prev {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.prev-svg {
  color: #000;
  margin: 0;
  padding: 1rem; 
}

.next {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.next-svg {
  color: #000;
  margin: 0;
  padding: 1rem; 
}

.edit-button {
  margin: 1rem 0 0 0;
}

.edit-icon {
  margin-right: 0.5rem;
}
