.header-top-wrapper {
  display: flex;
  flex-direction: row;
}

.header-top-title {
  flex: 1;
  margin-bottom: 0px;
}

.header-top-buttons {
  flex: 0;
  padding-top: 4px;
  font-size: 18px;
}

.artist-link-wrappers {
  font-size: 17px;
  margin-top: 2px;
}

.artist-link {
  font-size: 17px;
}

.tab-badge {
  margin-top: 0;
}

.main-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-image {
  margin: 18px 0;
  cursor: pointer;
}

.prev {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.prev-svg {
  color: #000;
  margin: 0;
  padding: 1rem; 
}

.next {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.next-svg {
  color: #000;
  margin: 0;
  padding: 1rem; 
}

.edit-button {
  margin: 0.5rem 0 0 0;
}

.edit-icon {
  margin-right: 0.5rem;
}

@media(max-width: 767px) {
  .small-screen-navs {
    display: flex !important;
    justify-content: space-between;
  }

  .main-content-inner-wrapper-mobile {
    /* margin-top: 1rem; */
  }

  .prev {
    font-size: 24px;
  }
  
  .prev-svg {
    padding: 0 1rem 0.75rem 0;
  }
  
  .next {
    font-size: 24px;
    padding-left: 1rem;
  }
  
  .next-svg {
    padding: 0 0 0.75rem 1rem;
  }
}
