.header-wrapper {
  margin: auto;
}

.header-top-wrapper {
  display: flex;
  flex-direction: row;
}

.header-top-title {
  flex: 1;
  margin-bottom: 0px;
}

.header-top-buttons {
  display: flex;
  flex: 0;
  padding-top: 10px;
  font-size: 18px;
}

.header-top-icon {
  margin-left: 12px
}

.artist-link-wrappers {
  display: flex;
  font-size: 17px;
  margin-top: 2px;
}

.artist-link {
  font-size: 17px;
}

.tab-badge {
  margin-top: 0;
}

.main-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
}

.main-image {
  margin: 18px 0;
  cursor: pointer;
}

.prev {
  font-size: 32px;
  display: flex;
  justify-content: flex-start;
}

.prev-svg {
  color: #000;
  margin: 0;
  padding: 0.5rem 1rem; 
}

.next {
  font-size: 32px;
  display: flex;
  justify-content: flex-end;
}

.next-svg {
  color: #000;
  margin: 0;
  padding: 0.5rem 1rem; 
}

.admin-buttons {
  display: flex;
  flex-direction: column;
}

.edit-button {
  flex: 0 0 auto;
  margin: 0 1rem 1rem 0;
  align-self: flex-start;
}

.edit-icon {
  margin-right: 0.5rem;
}

.edit-collection {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-select {
  display: flex;
}

.edit-toggle-input {
  margin-left: -0.5rem !important;
}

.edit-toggle-input-label {
  margin-left: 0.5rem;
}

.navs-wrapper {
  display: flex !important;
  justify-content: space-between;
  margin: auto;
}

@media(max-width: 767px) {
  .prev {
    font-size: 24px;
  }
  
  .prev-svg {
    padding: 0 1rem 0.75rem 0;
  }
  
  .next {
    font-size: 24px;
    padding-left: 1rem;
  }
  
  .next-svg {
    padding: 0 0 0.75rem 1rem;
  }
}

/* styles for non-horizontal rectangle image ratios */

.short-max-width.header-wrapper {
  max-width: 700px;
}

.short-max-width.main-image-wrapper {
  max-width: 700px;
}

.short-max-width.navs-wrapper {
  max-width: 700px;
}
